{% extends "base.twig" %}

{% block content %}
<main class="p-privacy-policy">
	<section class="privacy-policy-content">
		<div class="privacy-policy-content__text">
			<h1>{{post.title}}</h1>
			{{post.content}}
		</div>
	</section>
</main>
{% endblock %}
