{% extends 'templates/base.twig' %}
{% block content %}
	<main class="p-main">
	
	 	{% include 'templates/partial/hero-home.twig' with {'data': banners_group} %}

		{% include 'templates/partial/accessory.twig' with {'data': accesories} %}
		
		{% include 'templates/partial/product-row.twig' with {'data': best_offers} %}

		{% include 'templates/partial/brand.twig' with {'data': product_brand} %}

	  {% include 'templates/partial/outlet.twig' with {'data': sale_products} %}

	  {% include 'templates/partial/branded.twig' %}

    {% include 'templates/partial/subscribe.twig' %}

	</main>
{% endblock %}
