{% extends 'templates/base.twig' %}
{% block content %}

  <main class="p-login">
    <div class="u-container">

      <div class="c-registration-form u-relative js-login-form">
        <div class="c-registration-form__inner">
          <h2>התחברות  </h2>
          <p class="c-registration-form__error-message"></p>
          <form>
            <div class="c-registration-form__row">
              <input type="text" name="email" required placeholder="אימייל">
            </div>
            <div class="c-registration-form__row">
              <input type="password" name="password" required placeholder="סיסמה">
            </div>
            <div class="c-registration-form__row">
              <a href="{{ reset_password_url }}">שכחת סיסמה?</a>

              <button type="submit" class="u-btn is-green-clean is-small">
                <span> < שלח   </span>
              </button>
              {# <input type="submit" value="שלח >"> #}
            </div>
          </form>
        </div>
        <img class="c-registration-form__background-image" src="{{theme.link}}/dist/img/registration-window.svg">
      </div>

    </div>
  </main>

  <div class="c-error-modal-wrapper">
    <div class="c-error-modal">
      <i class="remove-icon"></i>
      <h3 class="c-error-modal__message">error-messageerror-messageerror-messageerror-message</h3>
    </div>
  </div>

{% endblock %}