<section class="l-products-row js-slider-container">
	<img 
		class="is-img lazy"
		src="data:image/png;base64,TEVITGhbV0IyeWs4cHlvSmFkUiouN2tDTWRuag==" 
		data-src="{{theme.link}}/src/img/product-row-bg.png" 
		alt="Branded background" 
		width="1920" 
		height="990"
	>
	<div class="u-container">
		<h2 class="u-h2">{{ 'Best offers' | translateString('Product row - title') }}</h2>
		<div class="row js-product-row swiper">
			<div class="swiper-wrapper">
				{% for product in data %}
					<div class="col-lg-3 col-md-4 col-6 u-col swiper-slide">
						{% include 'templates/partial/product.twig' with {'data': product, 'brands': true} %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>