{% if post.meta('hide_latest_in_post') != true %}
  {% for term in post.terms('category') %}
    {% if loop.index == 1 %}
      <div class="c-section-title">
        <h2 class="u-h2">{{ 'Simular news' | translateString('Related - title') }}</h2>
        {# <a href="#" class="u-btn is-medium is-yellow">{{ __('More news', 'news') }}</a> #}
      </div>
      <section class="l-archive">
        <div class="u-container">

        {% for child_post in term.posts(3) %}
          {% include 'partial/archive-card.twig' with {'data': child_post} %}
        {% endfor %}

        </div>
      </section>
    {% endif %}
  {% endfor %}
{% endif %}
